# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
src/framecycler/_version.py
assets/icons/app_icon.ico
assets/icons/app_icon.icns
assets/icons/app_icon.iconset/

# C++ Build outputs
build/
bin/
lib/
.qt/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Editor settings
.vscode/
.idea/

# Testing
tests_config_temp/
.temp

# macOS system files
.DS_Store
**/.DS_Store

# Compiled binaries
*.so
*.dylib
*.dll
aqtinstall.log

